.img-thumbnail {
    border: 0px solid #fff;
    background-color: #fff;
    padding: 0.2rem;
}
.form-actions {
  margin: 0;
  background-color: transparent;
  text-align: center;
}
.selected {
  opacity: 0.3;
}
.jumbotron {
    margin-top: 4rem;
}
.noshow {
  display: none;
}
.fullSizeImage {
  display: block;
  margin: 0 auto;
}
#selectedForGallerySpan {
  color:#fff;
  font-size: 1.3rem;
}
#fullSizeImage{
  margin-top: 5rem;
}
#searchResult {
  width:auto;
}
#galleryDiv{
  margin-top: 4rem;
}

span {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin:0 auto;
}
body {
  background-color: #fff;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 5px;
    border: 1px solid #888;
    height: auto;
    width: 80%;
    overflow-y: initial !important
}
.modal-body {
  overflow: auto;
  height: 80%;
}
.modal-body::-webkit-scrollbar {
    display: none;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
